@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') layer(base);
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: #ecf3ff;
    --color-brand-100: #dde9ff;
    --color-brand-400: #7592ff;
    --color-brand-500: #465fff;

    --color-gray-25: #fcfcfd;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f2f4f7;
    --color-gray-200: #e4e7ec;
    --color-gray-300: #d0d5dd;
    --color-gray-400: #98a2b3;
    --color-gray-500: #667085;
    --color-gray-600: #475467;
    --color-gray-700: #344054;
    --color-gray-800: #1d2939;
    --color-gray-900: #101828;

    --z-index-9999: 9999;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    body {
        @apply relative z-1 bg-gray-50 text-base font-normal text-gray-800;
    }
}

@utility menu-item {
    @apply relative flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium;
}

@utility menu-item-active {
    @apply bg-brand-50 text-brand-500;
}

@utility menu-item-inactive {
    @apply text-gray-700 hover:bg-gray-100 hover:text-gray-700;
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
